doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Cache-Control", content="no-cache")
    meta(http-equiv="Pragma", content="no-chche")
    meta(http-equiv="build", content="2023, 03, 29")
    meta(http-equiv="Copyright", content="c17team03_oh_hye_rim")
    meta(http-equiv="Distribution", content="OH_HRE_RIM")
    meta(http-equiv="Filename", content="payment.pug")
    meta(name="robots", content="noindex, nofollow, noarchive")
    link(
      rel="stylesheet",
      href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css"
    )
    link(rel="stylesheet", href="./css/payment.css")
    script(type="text/javascript", src="./js/payment.js", defer)
    script(src="https://code.jquery.com/jquery-3.6.4.min.js", integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=", crossorigin="anonymous")
    title 돈돈정 - 맛있는 가정식 요리와 일본의 명주
  body
    section.allBox
      header
        section
          .titleLeft
            a(href="#")
              i.xi-home
              span.pointFont HOME
          .titleRight
            img(src="../../static/img/textLogo.png", alt="텍스트로고") 
      section.paymentMain
        p.titleOne 주문내역을 확인하신 후 <br /> 결제를 진행해 주세요.
        p.titleTwo 주문내역
        hr
        .menuBox
          .menuMiniBox 번호
          .menuMiniBox 주문 제품
          .menuMiniBox 주문 수량
          .menuMiniBox 금액
          .menuMiniBox 삭제
        ul.menuOrderList
          - for (let i = 0; i < 1; i++)
            li(id=`id${0}`)
              .menuNum 1
              .menuName 돈까스 정식
              .menuCountBox
                button#plusBtn.menuPlusBtn +
                .menuCount 1
                button#minusBtn.menuMinusBtn -
              .menuAmount 10000
              button.menuDelete 삭제
            li(id=`id${1}`)
              .menuNum 2
              .menuName 메론 정식
              .menuCountBox
                button#plusBtn.menuPlusBtn +
                .menuCount 3
                button#minusBtn.menuMinusBtn -
              .menuAmount 10000
              button.menuDelete 삭제 
      footer
        section.footerTop
          .allOrder 총 주문 수량
          .allOrderCounter.fontBold#allOrderCount 1
          .allOrderResult 개
          .allOrder 총 주문 금액
          .allOrderCounter.fontBold#allPrice 10000
          .allOrderResult 원
        section.footerBottom 
          .footerBtnBox
            form(action="/order", method="get")
              input.footerBtn(type="submit", value="이전")
            button.footerBtn#footerBtnOk1 결제하기
      //모달 시작, 모달 배경 - 투명 검정
      section.modalBg
        //포인트 적립할 번호 입력 모달  
        section.phoneNumberBox
          p.fontBold 포인트를 적립할 번호를 입력해 주세요.
          form.phoneNumberInput(action="/ajaxPoint", method="get")
            input(type="number", name="phoneNumber")
          .keyPadBox
            button.numberPad 7
            button.numberPad 8
            button.numberPad 9
            button.numberPad 4
            button.numberPad 5
            button.numberPad 6
            button.numberPad 1
            button.numberPad 2
            button.numberPad 3
            button.textPad#resetBtn 초기화
            button.numberPad 0
            button.textPad#removeBtn ←
          .modalButtonBox
            button.phoneNumberBtn#notPoint 적립안함
            button.phoneNumberBtn#okPoint  확인
        // 포인트 사용 모달
        section.usePointBox
          p.pay 결제하기
          hr
          section.paymentBox
            .resultTextMenu 총 금액
            .resultNumberMenu#totalPrice 50000
            .price 원
            .resultTextMenu 보유 포인트
            .resultNumberMenu#havePoint 2000
            .price P
          section.keyPadArea
            p 사용 포인트
            section.inputPhoneNumber
              .minusPointDiv -
              form(action="/", method="get")
                input.numberInputBox(
                  type="number",
                  name="usePoint",
                  placeholder="사용할 포인트를 입력해 주세요."
                )
              .minusPointDiv P
            .keyPadBox2
              button.numberPad2 7
              button.numberPad2 8
              button.numberPad2 9
              button.numberPad2 4
              button.numberPad2 5
              button.numberPad2 6
              button.numberPad2 1
              button.numberPad2 2
              button.numberPad2 3
              button.textPad2#resetBtn2 초기화
              button.numberPad2 0
              button.textPad2#removeBtn2 ←
          hr
          section.totalResult
            div 최종 결제 금액
            div#finalTotalPrice 50000
            div 원
          section.totalResultBtnBox
            button#paymentCancelBtn 취소
            button#paymentGoBtn 결제 
        //카드 결제 모달
        section.cardModalBox
          img(src="../../static/img/card.png", alt="카드")
          div 결제하실 카드를 넣어 주세요
            br 
            |삼성페이나 다른 NFC결제도 지금 접속해주세요
          button 취소
        //결제 진행중 모달
        section.paymentModal
          i.xi-spinner-1.xi-spin
          div <span>결제가 진행중입니다</span><br>잠시만 기다려주세요
        //결제 완료 모달
        section.completeModal
          i.xi-check-square-o
          div.smallFont 결제가 정상적으로 완료되었습니다.
          div.bigFontBox
            div.bigFont 10
            div.bigFont 초후에 자동으로 종료됩니다
          div.completeModalBtnBox
            form(action="/", method="get")
              input.completeModalBtn(type="submit", value="영수증 출력")
            form(action="/", method="get")
              input.completeModalBtn(type="submit", value="종료")
        //경고 창 모달
        section.alertModalBg
          section.alertModal
            .alertModalContent 올바른 전화번호 형태가 아닙니다. 
            button.alertModalBtn 확인

